@using GSS.UI.Controllers
@using Microsoft.Web.Mvc
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/bootstrap/base")
        @Styles.Render("~/Content/bootstrap/theme")
    </head>
    <body>
        <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @(Html.ActionLink<HomeController>(c => c.Index(), "Gymnastics Scoring System", new { @class = "navbar-brand"}))
                </div>
                <nav class="collapse navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        <li>@(Html.ActionLink<HomeController>(c => c.Index(), "Home"))</li>
                        <li>@(Html.ActionLink<MeetsController>(c => c.Index(), "Meets"))</li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <div class="container-fluid">

            @RenderBody()

        </div> <!-- /container -->

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
